In [1]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [2]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       7.063611     True          32          1             37.0
1       4.687028     True          30          3             33.0
2       7.561856     True          20          1             39.0
3       7.561856     True          31          1             37.0
4       7.312733     True          32          1             40.0

In [3]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9997.000000  10000.000000  10000.000000      9886.000000
mean        7.303938     27.226500      1.033500        38.700890
std         1.313289      6.194646      0.192825         2.538734
min         0.595248     13.000000      1.000000        18.000000
25%         6.624891     22.000000      1.000000        38.000000
50%         7.374463     27.000000      1.000000        39.000000
75%         8.126239     32.000000      1.000000        40.000000
max        12.625874     52.000000      4.000000        47.000000

In [4]:
df['is_male'].value_counts()

True     5096
False    4904
Name: is_male, dtype: int64

In [5]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [6]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [7]:
x,y = data,labels
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [8]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(len(x_train.iloc[0]),)),
    Dense(32, activation='relu'),
    Dense(1)]
)

In [9]:
model.compile(optimizer=tf.keras.optimizers.RMSprop(),
              loss=tf.keras.losses.MeanSquaredError(),
              metrics=['mae', 'mse'])

In [10]:
model.fit(x_train, y_train, epochs=10, validation_split=0.1)

Epoch 1/10
209/209 [==============================] - 1s 5ms/step - loss: 2.7328 - mae: 1.1309 - mse: 2.7328 - val_loss: 1.2253 - val_mae: 0.8454 - val_mse: 1.2253
Epoch 2/10
209/209 [==============================] - 1s 4ms/step - loss: 1.3054 - mae: 0.8875 - mse: 1.3054 - val_loss: 1.1811 - val_mae: 0.8337 - val_mse: 1.1811
Epoch 3/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2690 - mae: 0.8792 - mse: 1.2690 - val_loss: 1.1658 - val_mae: 0.8246 - val_mse: 1.1658
Epoch 4/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2472 - mae: 0.8664 - mse: 1.2472 - val_loss: 1.1540 - val_mae: 0.8215 - val_mse: 1.1540
Epoch 5/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2357 - mae: 0.8645 - mse: 1.2357 - val_loss: 1.1775 - val_mae: 0.8380 - val_mse: 1.1775
Epoch 6/10
209/209 [==============================] - 1s 4ms/step - loss: 1.2284 - mae: 0.8615 - mse: 1.2284 - val_loss: 1.5586 - val_mae: 0.9718 - val_mse: 1.5586
Epoch 7/10
209/209 [==============================] - 1s 4ms/step - loss: 1.2191 - mae: 0.8591 - mse: 1.2191 - val_loss: 1.1565 - val_mae: 0.8182 - val_mse: 1.1565
Epoch 8/10
209/209 [==============================] - 1s 5ms/step - loss: 1.2173 - mae: 0.8584 - mse: 1.2173 - val_loss: 1.1333 - val_mae: 0.8226 - val_mse: 1.1333
Epoch 9/10
209/209 [==============================] - 1s 4ms/step - loss: 1.2071 - mae: 0.8548 - mse: 1.2071 - val_loss: 1.1398 - val_mae: 0.8181 - val_mse: 1.1398
Epoch 10/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2043 - mae: 0.8512 - mse: 1.2043 - val_loss: 1.1715 - val_mae: 0.8294 - val_mse: 1.1715

In [11]:
num_examples = 10
predictions = model.predict(x_test[:num_examples])

In [12]:
for i in range(num_examples):
    print('Predicted val: ', predictions[i][0])
    print('Actual val: ',y_test.iloc[i])
    print()

Predicted val:  6.672046
Actual val:  7.81318256528

Predicted val:  7.7352695
Actual val:  8.811876612139999

Predicted val:  7.5224795
Actual val:  7.06361087448

Predicted val:  7.0671954
Actual val:  6.0627122049999995

Predicted val:  7.289283
Actual val:  8.000575487979999

Predicted val:  8.045302
Actual val:  8.062304921339999

Predicted val:  8.021964
Actual val:  6.8122838958

Predicted val:  7.2611485
Actual val:  6.3118345610599995

Predicted val:  7.5292096
Actual val:  8.3114272774

Predicted val:  7.085482
Actual val:  6.3118345610599995

In [13]:
for i in range(num_examples):
    print('Predicted val: ', predictions[i][0])
    print('Actual val: ',y_test.iloc[i])
    print()

Predicted val:  6.672046
Actual val:  7.81318256528

Predicted val:  7.7352695
Actual val:  8.811876612139999

Predicted val:  7.5224795
Actual val:  7.06361087448

Predicted val:  7.0671954
Actual val:  6.0627122049999995

Predicted val:  7.289283
Actual val:  8.000575487979999

Predicted val:  8.045302
Actual val:  8.062304921339999

Predicted val:  8.021964
Actual val:  6.8122838958

Predicted val:  7.2611485
Actual val:  6.3118345610599995

Predicted val:  7.5292096
Actual val:  8.3114272774

Predicted val:  7.085482
Actual val:  6.3118345610599995